@import "variables";
@import "rem";
// Bootstrap overrides
.custom-control-label::before {
  top: .15rem;
}
.custom-switch .custom-control-label::after {
  top: calc(.15rem + 2px);
}


// My Reusable
span,
svg {
  display: inline-block;
}
a {
  color: $primary-purple;
  &:hover {
    color: $primary-purple;
  }
}
.fz8 {
  font-size: rem(8px);
}
.fz9 {
  font-size: rem(9px);
}
.fz10 {
  font-size: rem(10px);
}
.fz11 {
  font-size: rem(11px);
}
.fz12 {
  font-size: rem(12px);
}
.fz13 {
  font-size: rem(13px);
}
.fz14 {
  font-size: rem(14px);
}
.fz15 {
  font-size: rem(15px);
}
.fz16 {
  font-size: rem(16px);
}
.fz18 {
  font-size: rem(18px);
}
.fz20 {
  font-size: rem(20px);
}
.fz22 {
  font-size: rem(22px);
}
.fz24 {
  font-size: rem(24px);
}
.fz26 {
  font-size: rem(26px);
}
.fz28 {
  font-size: rem(28px);
}
.fz30 {
  font-size: rem(30px);
}
.fz32 {
  font-size: rem(32px);
}
.fw100 {
  font-weight: 100;
}
.fw200 {
  font-weight: 200;
}
.fw300 {
  font-weight: 300;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}

.main-heading {
  font-size: rem(40px);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.25px;
  color: #0a2340;

  @media (max-width: 767px) {
    font-size: rem(24px);
  }
}
.primary-text {
  color: $primary;
}
.shade-primary {
  color: $primary-purple;
}
.shade-secondary {
  color: $secondary-purple;
}
.shade-tertiary {
  color: $tertiary-purple;
}
.link-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.link-btn {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}
