$primary-dark: #4e5254;
$primary-orange: #ea8523;
$main-bg: #f6f6f6;
$white: #fff;




$a: #100a40;
$b: #4f3dd1;
$c: #8172f1;
$d: #aea3fd;
$e: #585570;

$f: #e98c4c;
$g: #ffd87d;
$h: #ffd0a6;
$i: #fafafa;
$j: #999999;

$z: #f00; 
