$primary-dark: #4e5254;
$primary-orange: #ea8523;
$main-bg: #f6f6f6;
$white: #fff;




$a: #100a40;
$b: #4f3dd1;
$b: #8172f1;
$b: #aea3fd;
$b: #585570;

$b: #e98c4c;
$b: #ffd87d;
$b: #ffd0a6;
$b: #fafafa;
$b: #999999;


