// primary, secondary, tertiary, quaternary

$primary: #0a2340;

$shade-1: #100a40;
$shade-2: #5d5a84;
$shade-3: #585570;

$black-3: #333;
$black-6: #666;
$black-9: #999;

$primary-orange: #e98c4c;
$secondary-orange: #ffd87d;
$tertiary-orange: #ffd87d;

$primary-purple: #4f3dd1;
$secondary-purple: #8172f1;
$tertiary-purple: #aea3fd;

$white: #fff;
$white-grey: #fafafa;
