@import "partials/variables";
@import "partials/common";
@import "partials/gutter";
@import "partials/rem";
@import "partials/form-elements";
//@import "pages/optional-services";

body {
  color: $primary;
  font-family: 'Open Sans',sans-serif;
  font-size: rem(14px);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .5px;
}

input[type=number].num::-webkit-inner-spin-button,
input[type=number].num::-webkit-outer-spin-button {
  opacity: 1;
}
.btn {
  &:focus {
    box-shadow: none;
  }
}

.wrapper {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    background: #000 url('/assets/images/graphic/onboarding-graphic.svg') no-repeat center top/cover;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;

    @media (max-width: 991px) {
      content: none;
    }
  }
}

.main-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.brand-logo {

}
.onboarding-header {
  padding-top: 60px;
  padding-bottom: 40px;
}
